# Generic
*~

# Mix
/_build
/cover
/deps
/doc
*.ez
/mix.lock
/.elixir_ls

# erlang
erl_crash.dump

# App specific
!/priv/keys/README.md
/priv/keys/
/examples/hello
/src/mg_shell_lexer.erl
.deliver/releases/
/config/prod.secret.exs
