[Unit]
Description=<%= release_name %>
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/opt/<%= release_name %>
ExecStart=/opt/<%= release_name %>/bin/<%= release_name %> start
ExecStop=/opt/<%= release_name %>/bin/<%= release_name %> stop
Restart=on-failure
RestartSec=5
SyslogIdentifier=<%= release_name %>
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
